[user]
	name = Greggory Rothmeier
	email = greggroth@gmail.com
[core]
  excludesfile = /Users/greggory/.gitignore
  quotepath = false
  editor = nvim
[color]
  ui = auto
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[branch "staging"]
  rebase = true
[web]
	browser = open
[heroku]
	account = personal
[merge]
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
[mergetool]
  prompt = false
	keepBackup = false
; [diff]
;   tool = p4diff
; [difftool "p4diff"]
;   cmd = p4merge "$LOCAL" "$BASE"
; [difftool]
;   prompt = false
[rerere]
	enabled = true
[push]
	default = current
[hub]
	host = code.apple.com
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[grep]
	extendRegexp = true
	lineNumber = true
[gui]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[gui]
	recentrepo = /Users/greggrothmeier/code/Transmetropolitan
[github]
	user = greggroth


[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[include]
	path = /Users/greggroth/.gitalias
