[user]
  name = Greggory Rothmeier
	email = greggroth@gmail.com
[core]
  excludesfile = /Users/greggory/.gitignore
  quotepath = false
  editor = vim
[color]
  ui = auto
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[branch "staging"]
  rebase = true
[alias]
  dc = diff --cached
  aa = add --all

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.dotfiles/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.dotfiles/.githelpers && pretty_git_log"
  la = !git l --all
	g = grep --break --heading --line-number -B 2 -A 2
	ctags = !.git/hooks/ctags
[web]
	browser = open
[heroku]
	account = personal
[merge]
  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
[mergetool]
  prompt = false
  keepBackup = false
[diff]
  tool = p4diff
[difftool "p4diff"]
  cmd = p4merge "$LOCAL" "$BASE"
[difftool]
  prompt = false
[rerere]
	enabled = true
[push]
	default = simple
[hub]
	host = code.apple.com
[init]
	templatedir = ~/.git_template
